{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="{% static 'globals.css' %}">
    <title>{% block title %}Djano App{% endblock %}</title>
</head>

<body>
    <div class="mainbody">
        {% block content %}
        {% endblock %}
    </div>
</body>


</html>